<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [31]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\lenovo\anaconda3\lib\site-packages (1.3.9)

WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)

Requirement already satisfied: ibm_db_sa in c:\users\lenovo\anaconda3\lib\site-packages (0.3.7)

WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)

Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\lenovo\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ibm_db_sa) (3.1.0)
Requirement already satisfied: ipython-sql in c:\users\lenovo\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython>=1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlparse in c:\users\lenovo\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\lenovo\appdata\roaming\python\python37\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: matplotlib-inline in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pickleshare in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\roaming\python\python37\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: pygments in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\lenovo\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\lenovo\anaconda3\lib\site-packages)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [32]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [33]:
        # "password": "AMkBLRHhVLMWSAgV",
        # "username": "wgw63984"

        # "hostname": "fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud",
        # "port": 32731

        # "database": "bludb",

In [34]:
%sql ibm_db_sa://wgw63984:AMkBLRHhVLMWSAgV@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb?security=SSL

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [35]:
# !pip install pandasql

In [36]:
import pandasql as ps
import pandas as pd

In [68]:
spacex = pd.read_csv('Spacex (1).csv', parse_dates=['Date'])
spacex.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [69]:
spacex.rename(columns={'Landing _Outcome':'Landing__Outcome'}, inplace=True)

In [70]:
spacex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               101 non-null    datetime64[ns]
 1   Time (UTC)         101 non-null    object
 2   Booster_Version    101 non-null    object
 3   Launch_Site        101 non-null    object
 4   Payload            101 non-null    object
 5   PAYLOAD_MASS__KG_  101 non-null    int64
 6   Orbit              101 non-null    object
 7   Customer           101 non-null    object
 8   Mission_Outcome    101 non-null    object
 9   Landing__Outcome   101 non-null    object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 8.0+ KB

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [71]:
query = '''
select distinct(launch_site) from spacex;
'''

ps.sqldf(query, locals())

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [72]:
query = '''
select * from spacex
where launch_site like 'CCA%'
limit 5
;'''

ps.sqldf(query, locals())

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing__Outcome
0,2010-04-06 00:00:00.000000,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12 00:00:00.000000,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22 00:00:00.000000,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10 00:00:00.000000,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03 00:00:00.000000,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [73]:
query = '''
select sum(payload_mass__kg_) as total_payload_mass
from spacex
where customer like '%NASA (CRS)%'
;'''

ps.sqldf(query, locals())

   total_payload_mass
0               48213

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [74]:
query = '''
select avg(payload_mass__kg_) as avg_payload_mass
from spacex
where booster_version like '%F9 v1.1%'
;'''

ps.sqldf(query, locals())

   avg_payload_mass
0       2534.666667

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [76]:
query = '''
select DATE, Landing__Outcome
from spacex
where Landing__Outcome = 'Success (ground pad)'
order by DATE
limit 1
;'''

ps.sqldf(query, locals())

                         Date      Landing__Outcome
0  2015-12-22 00:00:00.000000  Success (ground pad)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [77]:
query = '''
select booster_version, landing__outcome, payload_mass__kg_ 
from spacex
where landing__outcome like '%Success (drone ship)%'
and payload_mass__kg_ > 4000
and payload_mass__kg_ < 6000
;'''

ps.sqldf(query, locals())

  Booster_Version      Landing__Outcome  PAYLOAD_MASS__KG_
0     F9 FT B1022  Success (drone ship)               4696
1     F9 FT B1026  Success (drone ship)               4600
2  F9 FT  B1021.2  Success (drone ship)               5300
3  F9 FT  B1031.2  Success (drone ship)               5200

### Task 7

##### List the total number of successful and failure mission outcomes

In [78]:
query = '''
select mission_outcome, count(mission_outcome) as total_number
from spacex
group by mission_outcome
;'''

ps.sqldf(query, locals())

                    Mission_Outcome  total_number
0               Failure (in flight)             1
1                           Success            98
2                          Success              1
3  Success (payload status unclear)             1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [79]:
query = '''
select distinct booster_version, payload_mass__kg_  
from spacex
where payload_mass__kg_ = (select max(payload_mass__kg_) from spacex)
;
'''

ps.sqldf(query, locals())

   Booster_Version  PAYLOAD_MASS__KG_
0    F9 B5 B1048.4              15600
1    F9 B5 B1049.4              15600
2    F9 B5 B1051.3              15600
3    F9 B5 B1056.4              15600
4    F9 B5 B1048.5              15600
5    F9 B5 B1051.4              15600
6    F9 B5 B1049.5              15600
7   F9 B5 B1060.2               15600
8   F9 B5 B1058.3               15600
9    F9 B5 B1051.6              15600
10   F9 B5 B1060.3              15600
11  F9 B5 B1049.7               15600

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [81]:
query = '''
select landing__outcome, booster_version, launch_site, DATE
from spacex
where landing__outcome like '%Failure (drone ship)%' and DATE like '%2015%'
;'''

ps.sqldf(query, locals())

,Landing__Outcome,Booster_Version,Launch_Site,Date
0,Failure (drone ship),F9 v1.1 B1012,CCAFS LC-40,2015-10-01 00:00:00.000000
1,Failure (drone ship),F9 v1.1 B1015,CCAFS LC-40,2015-04-14 00:00:00.000000

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [82]:
query = '''
select 
rank() over(order by count(landing__outcome) desc) as Rank,
landing__outcome, count(landing__outcome) as count_of_landing__outcome
from spacex
where DATE > '2010-06-04'
and DATE < '2017-03-20'
group by landing__outcome
order by count_of_landing__outcome desc
;'''

ps.sqldf(query, locals())

   Rank        Landing__Outcome  count_of_landing__outcome
0     1              No attempt                         10
1     2    Success (ground pad)                          5
2     2    Success (drone ship)                          5
3     2    Failure (drone ship)                          5
4     5      Controlled (ocean)                          3
5     6    Uncontrolled (ocean)                          2
6     7  Precluded (drone ship)                          1
7     7     Failure (parachute)                          1

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>